<div class="basic-solution-outer ">
  <div class="basic-solution-inner ">

    <div class="card gaming ">
      <div>
        <h5 class="title">DS Cricket</h5>
      </div>
      <div>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nemo?</p>
      </div>
      <div class="text">
        <a class="learn-field-top" href="#">Show More</a>
      </div>
    </div>

    <div class="card gaming-video  ">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZRhJT2nmvA4" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
               picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="card e-commerce ">
      <div>
        <h5 class="title">DS Hockey</h5>
      </div>
      <div>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nemo?</p>
      </div>
      <div class="text">
        <a class="learn-field-top" href="#">Show More</a>
      </div>
    </div>

    <div class="card gaming-video  ">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/btiC_pWzblc" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
               picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="card media ">
      <div>
        <h5 class="title-bot">DS Rugby</h5>
      </div>
      <div>
        <p class="paragraph-bot">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nemo?</p>
      </div>
      <div class="text">
        <a class="learn-field" href="#">Show More</a>
      </div>
    </div>
    <div class="card content ">
      <div>
        <h5 class="title-bot">DS Basketball</h5>
      </div>
      <div>
        <p class="paragraph-bot">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nemo?</p>
      </div>
      <div class="text-bot">
        <a class="learn-field" href="#">Show More</a>
      </div>
    </div>
    <div class="card financial ">
      <div>
        <h5 class="title-bot">DS Baseball</h5>
      </div>
      <div>
        <p class="paragraph-bot">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nemo?</p>
      </div>
      <div class="text-bot">
        <a class="learn-field" href="#">Show More</a>
      </div>
    </div>
    <div class="card all-solution ">
      <div>
        <h5 class="title-bot">DS Sports Club</h5>
      </div>
      <div>
        <p class="paragraph-bot">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nemo?</p>
      </div>

    </div>
  </div>

</div>

